.centered {
    margin: auto;
    width: 50%;
}

.header {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.header p {
    font-family: 'Roboto Condensed', sans-serif;
}

.intro {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.command {
    font-family: 'Montserrat', sans-serif;
    font-weight:400; 
}

.response, .header p.command, .attribution {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.fa-brain {
    font-size: 10em;
}